<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.elegion.recyclerviewdemo"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name="com.activeandroid.app.Application"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ImagePaletteActivity"
            android:label="@string/app_name">
        </activity>

        <provider
            android:name="com.activeandroid.content.ContentProvider"
            android:authorities="com.elegion.recyclerviewdemo"
            android:exported="false"/>
    </application>

</manifest>
